## 추천 시스템  
## 추천 시스템의 개요와 배경  
### 추천 시스템의 유형  
[추천 시스템의 유형]  
1. 콘텐츠 기반 필터링(Content based filtering)  
2. 협업 필터링(Collaborative Filtering)  
    1) 최근접 이웃(Nearest Neighbor) 협업 필터링 : 아이템 기반  
    2) 잠재 요인(Latent Factor) 협업 필터링 : 행렬 분해(Matrix Factorization) 기법 이용.    
    
    
* 추천 시스템 초창기에는 콘텐츠 기반 필터링이나 최근접 이웃 기반 필터링이 주로 사용됨.  
* 넷플릭스 추천 시스템 경영 대회에서 잠재 요인 혐업 필터링 방식이 우승하면서 대부분의 온라인 스토어에서는 잠재 혐업 필터링 기법을 사용하게 됨.  
* 무조건 잠재 요인 협업 필터링 방식만 사용하는 것이 아니라 서비스하는 아이템의 특성에 따라 적절한 추천 시스템의 유형을 사용해야 함.  
* 최근에는 개인화 특성을 강화히기 위해 하이브리드 형식으로 콘텐츠 기반과 협업 기반을 적절히 결합해 사용하는 경우도 늘어나고 있음.  

## 콘텐츠 기반 필터링 추천 시스템  
콘텐츠 기반 필터링 방식은 사용자가 특정 아이템을 선호하는 경우, **그 아이템과 비슷한 콘텐츠를 가진 다른 아이템을 추천**하는 방식임.  
<img src='https://t1.daumcdn.net/cfile/tistory/992787445E9D2A7B32'>

## 최근접 이웃 협업 필터링  
### 협업 필터링(Collaborative Filtering)  
1. 협업 필터링 방식 : 사용자가 아이템에 매긴 평점 정보나 상품 구매 이력과 같은 **사용자 행동 양식(User Behavior)**만을 기반으로 추천을 수행.    
2. 협업 필터링 목표 : **축적된 사용자 행동 데이터를 기반**으로 사용자가 아직 평가하지 않은 아이템을 예측 평가(Predicted Rating)하는 것.  
3. 협업 필터링 기반의 추천 시스템은 **최근접 이웃 방식**과 **잠재 요인 방식**으로 나뉘고, 모두 **사용자-아이템 평점 행렬 데이터에만** 의지해 추천을 수행.  
4. 사용자-아이템 평점 행렬 데이터  
    1) 행(Row)은 개별 사용자, 열(Column)은 개별 아이템으로 구성.  
    2) 사용자 아이디 행, 아이템 아이디 열 위치에 해당하는 값이 평점을 나타내는 형태가 되어야 함.  
    
<img src='https://greeksharifa.github.io/public/img/Machine_Learning/2019-12-17-Recommendation%20System/02.JPG'>  
        
            위 사진은 사용자-아이템 평점 행렬 데이터임. 협업 필터링의 목적은 추론대상이라 써져 있는 곳을 예측하는 것임.  

### 최근접 이웃 협업 필터링  
1. 메모리(Memory) 협업 필터링이라고도 하며, 사용자 기반과 아이템 기반으로 나눌 수 있음.  
        1) 사용자 기반(User-User) : 당신과 비슷한 고객들이 다음 상품도 구매했습니다.  
        2) 아이템 기반(Item-Item) : 이 상품을 선택한 다른 고객들은 다음 상품도 구매했습니다.  
2. 사용자 기반 최근접 이웃 방식  
    1) 특정 사용자와 유사한 다른 사용자를 TOP-N으로 선정해 이 TOP-N 사용자가 좋아하는 아이템을 추천하는 방식  
    2) TOP-N 사용자 추출 방법 : 유사도(Similarity) 측정  
    <img src='https://t1.daumcdn.net/cfile/tistory/99BF02335A003D2A28'>  
            위 사진에서 해도, 미희, 은비 중 현석과 유사도가 가장 높은 사람은 해도임. 따라서 현석에게 해도가 평점을 높게 준 가디언즈 오브 갤럭시2 영화를 추천해줄 수 있음.  
3. 아이템 기반 최근접 이웃 방식  
    1) **사용자들이 그 아이템을 좋아하는지/싫어하는지의 평가 척도가 유사한 아이템을 추천하는 기준이 되는 알고리즘.**  
    2) 아이템 기반 최근접 이웃 방식의 경우 데이터셋이 행이 개별 아이템, 열이 개별 사용자임.  
4. 일반적으로 사용자 기반보다는 아이템 기반 협업 필터링의 정확도가 더 높아 대부분 아이템 기반의 알고리즘을 적용.  
5. 사용자간, 아이템간의 유사도를 구할 때 가장 많이 쓰이는 방식은 **코사인 유사도**임.  
    이유 : 추천 시스템 데이터의 경우 다차원 희소 행렬임. 피처 벡터화된 텍스트 데이터도 다차원 희소 행렬이므로 이때 사용된 코사인 유사도 방식이 추천 시스템 데이터에도 잘 적용됨.  
    
## 잠재 요인 협업 필터링  
1. 잠재 요인 협업 필터링 : 사용자-아이템 평점 매트릭스 속에 숨어 있는 **잠재 요인을 추출**해 추천 예측을 할수 있게 하는 기법.  
2. 잠재 요인 추출 방법 : 대규모 다차원 행렬인 **추천 시스템 데이터셋을 SVD와 같은 차원 감소 기법으로 분해(행렬 분해)**하여 잠재 요인을 추출.  
    1) 잠재 요인을 기반으로 사용자-아이템 행렬 데이터를 **저차원 밀집 행렬의 사용자-잠재 요인 행렬**과 **아이템-잠재 요인 행렬의 전치 행렬**로 분해.  
    2) 분해된 두 행렬의 **내적**을 통해 **새로운 예측 사용자-아이템 평점 행렬 데이터**를 만듦.  
    3) 예측 사용자-아이템 평점 행렬 데이터에는 사용자가 아직 평점을 부여하지 않은 아이템에 대한 예측 평점이 생성되어 있음.  
    <img src=''>

### 행렬 분해의 이해  
1. 행렬 분해(Matrix Factorization) : 다차원의 매트릭스를 저차원 매트릭스로 분해하는 기법.  
2. 행렬 분해는 대표적으로 SVD(Singular Vector Decomposition), NMR(Non-Negative Metrix Factorization) 등이 있음.  
<img src='https://i.small-business-tracker.com/img/artificial-intelligence/05/how-implement-recommender-system.jpg'>  

    **R = P*Q.T**
        1) M은 총 사용자 수  
        2) N은 총 아이템 수  
        3) K는 잠재 요인의 차원 수  
        4) R은 M X N 차원의 사용자-아이템 평점 행렬  
        5) P는 사용자와 잠재 요인과의 관계 값을 가지는 M X K 차원의 사용자-잠재 요인 행렬  
        6) Q는 아이템과 잠재 요인과의 관계 값을 가지는 N X K 차원의 아이템-잠재 요인 행렬  
        7) Q.T는 Q 매트릭스의 행과 열 값을 교환한 전치 행렬  

3. R 행렬에서의 NaN값을 행렬 분해를 통해 얻은 P와 Q 행렬의 내적으로 예측할 수 있음.  
4. R 행렬을 P와 Q로 분해하는 방법은 주로 SVD 방식을 사용함.  
4. SVD 방식은 NaN값이 없는 행렬에만 적용할 수 있으므로 R 행렬에 NaN값이 있는 경우 **확률적 경사 하강법**이나 **ALS** 방식을 이용해 SVD 수행.  

### 확률적 경사 하강법(Stochastic Gradient Descent)을 이용한 행렬 분해  
1. **P와 Q 행렬로 계산된 예측 R 행렬값이 실제 R 행렬값과 가장 최소의 오류를 가질 수 있도록 반복적인 비용 함수 최적화를 통해 P와 Q를 유츄함.**  
2. 확률적 경사 하강법을 이용한 행렬 분해의 절차  
    1) P와 Q를 임의의 값을 가진 행렬로 설정.  
    2) P와 Q.T 값을 곱해 예측 R 행렬을 계산하고 예측 R 행렬과 실제 R 행렬에 해당하는 오류값을 계산.(오류값은 오류 최소화와 L2규제를 고려)  
    3) 이 오류 값을 최소화할 수 있도록 P와 Q 행렬을 적절한 값으로 각각 업데이트함.  
    4) 만족할 만한 오류 값을 가질 때까지 2, 3번 작업을 반복하면서 P와 Q 값을 업데이트해 근사화함.

In [2]:
# SGD를 이용해 행렬 분해 수행.
import numpy as np

# 원본 행렬 R 생성, 분해 행렬 P와 Q 초기화, 잠재 요인 차원 K는 3으로 설정.
R = np.array([[4, np.NaN, np.NaN, 2, np.NaN], 
              [np.NaN, 5, np.NaN, 3, 1], 
              [np.NaN, np.NaN, 3, 4, 4], 
              [5, 2 ,1, 2, np.NaN]])
num_users, num_items = R.shape
K = 3         # 잠재 요인 차원

# P와 Q 행렬의 크기를 지정하고 정규 분포를 가진 임의의 값으로 입력합니다.
np.random.seed(1)
P = np.random.normal(scale=1./K, size=(num_users, K))
Q = np.random.normal(scale=1./K, size=(num_items, K))

In [9]:
# get_rmse() 함수 생성
# get_rmse() : 실제 행렬에서 Null값이 아닌 값의 인덱스들을 추출해 실제 R 행렬과 예측 행렬의 RMSE 추출.
from sklearn.metrics import mean_squared_error

def get_rmse(R, P, Q, non_zeros):
    error = 0
    # 두 개의 분해된 행렬 P와 Q.T의 내적으로 예측 R 행렬 생성
    full_pred_matrix = np.dot(P, Q.T)
    
    # 실제 R 행렬에서 널이 아닌 값의 위치 인덱스를 추출해 실제 R 행렬과 예측 행렬의 RMSE 추출
    x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]
    y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind, y_non_zero_ind]
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros)
    rmse = np.sqrt(mse)
    
    return mse

In [11]:
# R > 0인 행 위치, 열 위치, 값을 non_zeros 리스트에 저장.
non_zeros = [ (i, j, R[i, j]) for i in range(num_users) for j in range(num_items) if R[i, j] > 0 ]

steps = 1000    # SGD를 반복해서 업데이트할 횟수.
learning_rate = 0.01    # 학습률
r_lambda = 0.01    # L2 Regularization 계수

# SGD 기법으로 P와 Q 매트릭스를 계속 업데이트.
for step in range(steps):
    for i, j, r in non_zeros:
        # 실제값과 예측값의 차이인 오류 값 구함.
        eij = r - np.dot(P[i, :], Q[j, :].T)
        # Regularization을 반영한 SGD 업데이트 공식 적용.
        P[i, :] = P[i, :] + learning_rate*(eij*Q[j, :] - r_lambda*P[i, :])
        Q[j, :] = Q[j, :] + learning_rate*(eij*P[i, :] - r_lambda*Q[j, :])
        
        rmse = get_rmse(R, P, Q, non_zeros)
        if (step%50 == 0):
            print("### iteration step : ", step, "rmse : ", rmse)

### iteration step :  0 rmse :  10.624076694463124
### iteration step :  0 rmse :  10.618014679068558
### iteration step :  0 rmse :  10.576218984210831
### iteration step :  0 rmse :  10.564459092175609
### iteration step :  0 rmse :  10.565609906045793
### iteration step :  0 rmse :  10.55739787798783
### iteration step :  0 rmse :  10.545514418598977
### iteration step :  0 rmse :  10.533635410731863
### iteration step :  0 rmse :  10.49863593750931
### iteration step :  0 rmse :  10.486542278270159
### iteration step :  0 rmse :  10.487319115689543
### iteration step :  0 rmse :  10.478470526846758
### iteration step :  50 rmse :  0.25150266645638636
### iteration step :  50 rmse :  0.2513180667075575
### iteration step :  50 rmse :  0.2501971931317088
### iteration step :  50 rmse :  0.25002563176696924
### iteration step :  50 rmse :  0.25012822225833825
### iteration step :  50 rmse :  0.24949312005104154
### iteration step :  50 rmse :  0.24959043831435154
### iteration step :  50 rmse :  0.2491095108622687
### iteration step :  50 rmse :  0.2412682346535293
### iteration step :  50 rmse :  0.24035509039690015
### iteration step :  50 rmse :  0.23998566616622696
### iteration step :  50 rmse :  0.23897122666055834
### iteration step :  100 rmse :  0.027436750317950353
### iteration step :  100 rmse :  0.02734823112447589
### iteration step :  100 rmse :  0.027330103382817907
### iteration step :  100 rmse :  0.027184019214964827
### iteration step :  100 rmse :  0.0271908574354512
### iteration step :  100 rmse :  0.02718060807686318
### iteration step :  100 rmse :  0.027043356178430514
### iteration step :  100 rmse :  0.027058647940392092
### iteration step :  100 rmse :  0.026835659468501947
### iteration step :  100 rmse :  0.02679565679261971
### iteration step :  100 rmse :  0.026717520884517548
### iteration step :  100 rmse :  0.02655497094958183
### iteration step :  150 rmse :  0.006586397011711188
### iteration step :  150 rmse :  0.006585791004893113
### iteration step :  150 rmse :  0.0065844339805385815
### iteration step :  150 rmse :  0.006538747547112925
### iteration step :  150 rmse :  0.006544978918802027
### iteration step :  150 rmse :  0.0065506992138775035
### iteration step :  150 rmse :  0.006497363029636595
### iteration step :  150 rmse :  0.006504044428382316
### iteration step :  150 rmse :  0.006450691635352679
### iteration step :  150 rmse :  0.0064527724087775585
### iteration step :  150 rmse :  0.006452051979163387
### iteration step :  150 rmse :  0.006432147186334613
### iteration step :  200 rmse :  0.0022852751637390846
### iteration step :  200 rmse :  0.002293785285885577
### iteration step :  200 rmse :  0.0022926259283996124
### iteration step :  200 rmse :  0.0022715618380486796
### iteration step :  200 rmse :  0.0022765984144654076
### iteration step :  200 rmse :  0.002282178256775245
### iteration step :  200 rmse :  0.0022548972318942374
### iteration step :  200 rmse :  0.002257228375691573
### iteration step :  200 rmse :  0.0022340905762673158
### iteration step :  200 rmse :  0.0022364806188714375
### iteration step :  200 rmse :  0.0022367623163881047
### iteration step :  200 rmse :  0.002246493020138098
### iteration step :  250 rmse :  0.0010450497292081166
### iteration step :  250 rmse :  0.0010532407362036837
### iteration step :  250 rmse :  0.0010511395923504146
### iteration step :  250 rmse :  0.0010393432599965149
### iteration step :  250 rmse :  0.0010437704641885338
### iteration step :  250 rmse :  0.0010479184436291567
### iteration step :  250 rmse :  0.0010307136446130237
### iteration step :  250 rmse :  0.001031324713612563
### iteration step :  250 rmse :  0.0010166434441050462
### iteration step :  250 rmse :  0.0010191854844146095
### iteration step :  250 rmse :  0.0010192782730258272
### iteration step :  250 rmse :  0.0010327103377606448
### iteration step :  300 rmse :  0.0006086888099530444
### iteration step :  300 rmse :  0.0006155854755058819
### iteration step :  300 rmse :  0.0006126596250084624
### iteration step :  300 rmse :  0.0006050585766607578
### iteration step :  300 rmse :  0.0006091720822937068
### iteration step :  300 rmse :  0.0006121230245358131
### iteration step :  300 rmse :  0.0005996821213547637
### iteration step :  300 rmse :  0.0005996333392813466
### iteration step :  300 rmse :  0.0005877854363959661
### iteration step :  300 rmse :  0.0005907659366683348
### iteration step :  300 rmse :  0.0005915966399943929
### iteration step :  300 rmse :  0.0006040590487781508
### iteration step :  350 rmse :  0.00043634126925627074
### iteration step :  350 rmse :  0.00044217568283435785
### iteration step :  350 rmse :  0.00043867375921595366
### iteration step :  350 rmse :  0.00043318151934856674
### iteration step :  350 rmse :  0.0004371305069757157
### iteration step :  350 rmse :  0.0004392315377579463
### iteration step :  350 rmse :  0.00042931253323166954
### iteration step :  350 rmse :  0.00042899295444344393
### iteration step :  350 rmse :  0.0004181559966447116
### iteration step :  350 rmse :  0.00042152847475715113
### iteration step :  350 rmse :  0.00042305799574302044
### iteration step :  350 rmse :  0.0004342249705248995
### iteration step :  400 rmse :  0.0003623323925645058
### iteration step :  400 rmse :  0.0003674138737691898
### iteration step :  400 rmse :  0.0003635369329347545
### iteration step :  400 rmse :  0.0003591776708531656
### iteration step :  400 rmse :  0.0003630397298855996
### iteration step :  400 rmse :  0.0003645741019749757
### iteration step :  400 rmse :  0.00035608406390222775
### iteration step :  400 rmse :  0.00035563981546277
### iteration step :  400 rmse :  0.0003451553764555134
### iteration step :  400 rmse :  0.00034880582262697147
### iteration step :  400 rmse :  0.0003508044893632105
### iteration step :  400 rmse :  0.00036104753606869825
### iteration step :  450 rmse :  0.00032808768685125216
### iteration step :  450 rmse :  0.00033264561493881375
### iteration step :  450 rmse :  0.00032852989372960506
### iteration step :  450 rmse :  0.00032480915291933026
### iteration step :  450 rmse :  0.00032862552793344325
### iteration step :  450 rmse :  0.0003297937482470623
### iteration step :  450 rmse :  0.0003221528888746676
### iteration step :  450 rmse :  0.0003216421703329963
### iteration step :  450 rmse :  0.00031126031239709165
### iteration step :  450 rmse :  0.00031509423853285306
### iteration step :  450 rmse :  0.0003173813150629811
### iteration step :  450 rmse :  0.0003270512272825008
### iteration step :  500 rmse :  0.00031103976749071425
### iteration step :  500 rmse :  0.0003152279964660914
### iteration step :  500 rmse :  0.00031095980295316633
### iteration step :  500 rmse :  0.0003076143437616721
### iteration step :  500 rmse :  0.0003114071986821232
### iteration step :  500 rmse :  0.00031234175021571713
### iteration step :  500 rmse :  0.000305225956306299
### iteration step :  500 rmse :  0.0003046739671471002
### iteration step :  500 rmse :  0.00029429971530056084
### iteration step :  500 rmse :  0.00029825278242943184
### iteration step :  500 rmse :  0.000300714437455742
### iteration step :  500 rmse :  0.0003100455418269563
### iteration step :  550 rmse :  0.00030188104808126807
### iteration step :  550 rmse :  0.0003058010362813569
### iteration step :  550 rmse :  0.0003014334315136166
### iteration step :  550 rmse :  0.0002983188509616247
### iteration step :  550 rmse :  0.00030210008953323485
### iteration step :  550 rmse :  0.0003028853024767149
### iteration step :  550 rmse :  0.0002961068771675
### iteration step :  550 rmse :  0.0002955257748562885
### iteration step :  550 rmse :  0.00028512587783330025
### iteration step :  550 rmse :  0.0002891571095442849
### iteration step :  550 rmse :  0.0002917256781192561
### iteration step :  550 rmse :  0.0003008581949584622
### iteration step :  600 rmse :  0.000296521509237399
### iteration step :  600 rmse :  0.0003002408137010331
### iteration step :  600 rmse :  0.0002958059860068338
### iteration step :  600 rmse :  0.0002928416695026988
### iteration step :  600 rmse :  0.0002966175992289107
### iteration step :  600 rmse :  0.0002973061240955571
### iteration step :  600 rmse :  0.00029075343213305285
### iteration step :  600 rmse :  0.0002901498608142135
### iteration step :  600 rmse :  0.00027971627626316794
### iteration step :  600 rmse :  0.00028380022587517085
### iteration step :  600 rmse :  0.00028643593543039935
### iteration step :  600 rmse :  0.0002954489319442779
### iteration step :  650 rmse :  0.0002930556953041156
### iteration step :  650 rmse :  0.00029662025120646024
### iteration step :  650 rmse :  0.0002921376411758327
### iteration step :  650 rmse :  0.0002892781496451257
### iteration step :  650 rmse :  0.00029305200866129046
### iteration step :  650 rmse :  0.00029367645508158096
### iteration step :  650 rmse :  0.0002872815474604727
### iteration step :  650 rmse :  0.0002866596118465318
### iteration step :  650 rmse :  0.00027619449323089195
### iteration step :  650 rmse :  0.00028031547777435285
### iteration step :  650 rmse :  0.00028299486879755935
### iteration step :  650 rmse :  0.00029193068012428743

### iteration step :  700 rmse :  0.0002905513276919973
### iteration step :  700 rmse :  0.0002939932054358885
### iteration step :  700 rmse :  0.00028947457604525383
### iteration step :  700 rmse :  0.00028669417499410145
### iteration step :  700 rmse :  0.0002904675225191456
### iteration step :  700 rmse :  0.0002910480866232381
### iteration step :  700 rmse :  0.00028476865293688156
### iteration step :  700 rmse :  0.0002841311612292179
### iteration step :  700 rmse :  0.00027364045919610385
### iteration step :  700 rmse :  0.0002777887915051375
### iteration step :  700 rmse :  0.00028049791216024555
### iteration step :  700 rmse :  0.00028937770509115306
### iteration step :  750 rmse :  0.0002885357401283056
### iteration step :  750 rmse :  0.0002918779864964872
### iteration step :  750 rmse :  0.00028733051162181515
### iteration step :  750 rmse :  0.0002846145907622344
### iteration step :  750 rmse :  0.000288388078693773
### iteration step :  750 rmse :  0.00028893734900927397
### iteration step :  750 rmse :  0.00028274639182886434
### iteration step :  750 rmse :  0.0002820954123329408
### iteration step :  750 rmse :  0.000271586099635759
### iteration step :  750 rmse :  0.00027575573622256363
### iteration step :  750 rmse :  0.0002784862002261753
### iteration step :  750 rmse :  0.000287319325534444
### iteration step :  800 rmse :  0.0002867643895401078
### iteration step :  800 rmse :  0.0002900240561455216
### iteration step :  800 rmse :  0.00028545217906516797
### iteration step :  800 rmse :  0.000282792418549526
### iteration step :  800 rmse :  0.00028656622069127486
### iteration step :  800 rmse :  0.0002870921430470175
### iteration step :  800 rmse :  0.00028097195995501156
### iteration step :  800 rmse :  0.00028030909173757713
### iteration step :  800 rmse :  0.0002697879764199035
### iteration step :  800 rmse :  0.0002739750784056614
### iteration step :  800 rmse :  0.0002767217749848866
### iteration step :  800 rmse :  0.0002855112215435954
### iteration step :  850 rmse :  0.00028511029073125053
### iteration step :  850 rmse :  0.00028830034717836246
### iteration step :  850 rmse :  0.00028370689152028104
### iteration step :  850 rmse :  0.00028109851482187206
### iteration step :  850 rmse :  0.0002848725648640635
### iteration step :  850 rmse :  0.000285380251470695
### iteration step :  850 rmse :  0.00027931887680299986
### iteration step :  850 rmse :  0.00027864539412287827
### iteration step :  850 rmse :  0.000268118649486398
### iteration step :  850 rmse :  0.0002723207103908817
### iteration step :  850 rmse :  0.000275080465261857
### iteration step :  850 rmse :  0.0002838259770053658
### iteration step :  900 rmse :  0.000283508537432133
### iteration step :  900 rmse :  0.0002866390980996027
### iteration step :  900 rmse :  0.00028202592927577854
### iteration step :  900 rmse :  0.00027946613614237864
### iteration step :  900 rmse :  0.0002832402582899475
### iteration step :  900 rmse :  0.00028373308595901247
### iteration step :  900 rmse :  0.0002777221602190141
### iteration step :  900 rmse :  0.0002770390974355728
### iteration step :  900 rmse :  0.00026651211896883587
### iteration step :  900 rmse :  0.000270727438401122
### iteration step :  900 rmse :  0.00027349822613764995
### iteration step :  900 rmse :  0.0002821980493480998
### iteration step :  950 rmse :  0.000281927390109281
### iteration step :  950 rmse :  0.0002850065160011405
### iteration step :  950 rmse :  0.0002803749338627652
### iteration step :  950 rmse :  0.00027786200686109153
### iteration step :  950 rmse :  0.000281635986158769
### iteration step :  950 rmse :  0.00028211626206553974
### iteration step :  950 rmse :  0.0002761497402318171
### iteration step :  950 rmse :  0.0002754579464875592
### iteration step :  950 rmse :  0.0002649353552365401
### iteration step :  950 rmse :  0.0002691627219286804
### iteration step :  950 rmse :  0.0002719432006051234
### iteration step :  950 rmse :  0.00028059503962069975

In [17]:
# P와 Q를 내적하여 예측 행렬 만들어서 출력
pred_matrix = np.dot(P, Q.T)
print("예측 행렬 : \n", np.round(pred_matrix, 3))

예측 행렬 :
 [[3.99  0.783 1.341 2.003 1.729]
 [6.702 4.978 0.953 2.98  1.003]
 [6.933 0.42  2.987 3.976 3.986]
 [4.968 2.005 1.007 2.018 1.163]]

## 콘텐츠 기반 필터링 실습 - TMDB 5000 영화 데이터 세트  
데이터 : https://www.kaggle.com/tmdb/tmdb-movie-metadata  tmdb_5000_credits.csv, tmdb_5000_movies.csv  
### 장르 속성을 이용한 영화 콘텐츠 기반 필터링  
장르 칼럼 값의 유사도를 비교한 뒤 그중 높은 평점을 가지는 영화를 추천하는 방식  
### 데이터 로딩 및 가공

In [18]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

movies = pd.read_csv('./data/tmdb_5000_movies.csv')
print(movies.shape)
movies.head(1)

(4803, 20)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [38]:
# 콘텐츠 기반 필터링 추천 분석에 사용할 주요 컬럼만 추출
movies_df = movies[['id', 'title', 'genres' ,'vote_average', 'vote_count', 'popularity', 'keywords', 'overview']]

In [39]:
# genres, keywords 칼럼 자세히 살펴보기
pd.set_option('max_colwidth', 100)
movies_df[['genres', 'keywords']][:1]

,genres,keywords
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"": 2964, ""name"": ""future""}, {""id"": 3386, ""name"": ""sp..."

In [40]:
# 파이썬 ast 모듈의 literal_eval() 함수를 사용하여 genres와 keywords 칼럼의 키값인 name만 추출하기
from ast import literal_eval
movies_df['genres'] = movies_df['genres'].apply(literal_eval)
movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)

movies_df['genres'] = movies_df['genres'].apply(lambda x : [y['name'] for y in x])
movies_df['keywords'] = movies_df['keywords'].apply(lambda x : [y['name'] for y in x])
movies_df[['genres', 'keywords']][:1]

,genres,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colony, society, space travel, futuristic, romance, spa..."

### 장르 콘텐츠 유사도 측정  
1. 문자열로 변환된 genres 칼럼을 Count 기반으로 피처 벡터화 변환합니다.  
2. genres 문자열을 피처 벡터화 행렬로 변환한 데이터 세트를 코사인 유사도를 통해 비교합니다. 이를 위해 데이터 세트의 레코드별로 타 레코드와 장르에서 코사인 유사도 값을 가지는 객체를 생성합니다.  
3. 장르 유사도가 높은 영화 중에 평점이 높은 순으로 영화를 추천합니다.

In [43]:
from sklearn.feature_extraction.text import CountVectorizer

# CountVectorizer를 적용하기 위해 공백문자로 word 단위가 구분되는 문자열로 변환.
movies_df['genres_literal'] = movies_df['genres'].apply(lambda x : (' ').join(x))
count_vect = CountVectorizer(min_df=0, ngram_range=(1, 2))
genre_mat = count_vect.fit_transform(movies_df['genres_literal'])
print(genre_mat.shape)

(4803, 276)

In [46]:
# 피처 벡터화된 행렬에 cosine_similarities()를 적용
from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)
print(genre_sim[:1])

(4803, 4803)
[[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]]

In [48]:
# genre_sim 객체를 사용해 movies_df의 개별 레코드에 대해서 가장 장르 유사도가 높은 순으로 다른 레코드를 추출.
# genre_sim 객체의 각 행별로 유사도값이 높은 순으로 정렬된 행의 위치 인덱스 값을 추출.
genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1]
print(genre_sim_sorted_ind[:1])

[[   0 3494  813 ... 3038 3037 2401]]

### 장르 콘텐츠 필터링을 이용한 영화 추천  
장르 유사도에 따라 영화를 추천하는 함수인 find_sim_movie() 생성.  
입력 데이터 : 기반 데이터프레임(movies_df), genre_sim_sorted_ind, 추천 기준이 되는 영화 제목, 추천할 영화 건수  
출력 데이터 : 추천 영화 정보를 가지는 DataFrame

In [63]:
def find_sim_movie(df, sorted_ind, title_name, top_n=10):
    # 인자로 입력된 movies_df DataFrame에서 'title' 칼럼이 입력된 title_name 값인 DataFrame 추출
    title_movie = df[df['title'] == title_name]
    
    # title_name을 가진 DataFrame의 index 객체를 ndarray로 반환하고
    # sorted_ind 인자로 입력된 genre_sim_sorted_ind 객체에서 유사도 순으로 top_n개의 index 추출
    title_index = title_movie.index.values
    similar_indexes = sorted_ind[title_index, :(top_n)]
    
    # 추출된 top_n index 출력. top_n index는 2차원 데이터임.
    # dataframe에서 index로 사용하기 위해서 1차원 array로 변경
    print(similar_indexes)
    similar_indexes = similar_indexes.reshape(-1)
    
    return df.iloc[similar_indexes]

In [67]:
# find_sim_movies() 함수를 이용해 영화 '대부'와 장르별로 유사한 영화 10개 추천.
similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)
similar_movies[['title', 'vote_average']]

[[2731 1243 3636 1946 2640 4065 1847 4217  883 3866]]

                                               title  vote_average
2731                          The Godfather: Part II           8.3
1243                                    Mean Streets           7.2
3636                                   Light Sleeper           5.7
1946  The Bad Lieutenant: Port of Call - New Orleans           6.0
2640         Things to Do in Denver When You're Dead           6.7
4065                                      Mi America           0.0
1847                                      GoodFellas           8.2
4217                                            Kids           6.8
883                              Catch Me If You Can           7.7
3866                                     City of God           8.1

결과를 보면 비슷한 유형을 추천한 경우도 있지만 평점이 낮은 영화들(Light Sleeper, Mi America 등)도 있어서 이런 영화를 왜 추천해..? 라고 생각할 만한 것들도 있음.  
따라서 좀 더 정확한 추천을 위해 좀 더 많은 후보군을 선정한 뒤 영화의 평점에 따라 필터링해 최종 추천하는 방식으로 변경.

In [68]:
# 평점에서 소수의 관객이 특정 영화에 만점이나 매우 높은 평점을 부여해 왜곡된 데이터를 가진 경우도 있음.
# 이를 확인하기 위해 평점을 오름차순으로 정렬해 볼 것임.
movies_df[['title', 'vote_average', 'vote_count']].sort_values('vote_average', ascending=False)[:10]

                         title  vote_average  vote_count
3519          Stiff Upper Lips          10.0           1
4247     Me You and Five Bucks          10.0           2
4045     Dancer, Texas Pop. 81          10.0           1
4662            Little Big Top          10.0           1
3992                 Sardaarji           9.5           2
2386            One Man's Hero           9.3           2
2970        There Goes My Baby           8.5           2
1881  The Shawshank Redemption           8.5        8205
2796     The Prisoner of Zenda           8.4          11
3337             The Godfather           8.4        5893

따라서 평점 왜곡의 문제를 피하기 위해 평점에 평가 횟수를 반영할 수 있는 새로운 평가 방식을 사용해야 함.  
영화 평점 사이트인 IMDB에서 평가 횟수에 대한 가중치가 부여된 평점(Weighted Rating) 방식을 사용함.  

### 가중평점(Weighted Rating) = (v/(v+m)) * R + (m/(v+m)) * C  
        
            * v : 개별 영화에 평점을 투표한 횟수(vote_count)    
            * m : 평점을 부여하기 위한 최소 투표 횟수  
            * R : 개별 영화에 대한 평균 평점.(vote_average)  
            * C : 전체 영화에 대한 평균 평점.(movies_df['vote_average'].mean())  
            
- m의 경우 투표 횟수에 따른 가중치를 직접 조절하는 역할. m값을 높이면 평점 투표 횟수가 많은 영화에 더 많은 가중 평점을 부여함.  
- 여기서 m값은 전체 투표 횟수에서 상위 60%에 해당하는 횟수를 기준으로 정함.

In [72]:
# C, m값 결정
C = movies_df['vote_average'].mean()
m = movies_df['vote_count'].quantile(0.6)
print("C :", round(C, 3), "m :", round(m, 3))

C : 6.092 m : 370.2

In [75]:
# 새로운 평점 정보인 'vote_weighted' 피처 생성
percentile = 0.6
m = movies_df['vote_count'].quantile(percentile)
C = movies['vote_average'].mean()

def weighted_vote_average(record):
    v = record['vote_count']
    R = record['vote_average']
    
    return (( v/(v+m)*R ) + ( (m/(m+v))*C ))

movies_df['weighted_vote'] = movies_df.apply(weighted_vote_average, axis=1)

In [77]:
movies_df[['title', 'vote_average', 'weighted_vote', 'vote_count']].sort_values('weighted_vote', ascending=False)[:10]

                         title  vote_average  weighted_vote  vote_count
1881  The Shawshank Redemption           8.5       8.396052        8205
3337             The Godfather           8.4       8.263591        5893
662                 Fight Club           8.3       8.216455        9413
3232              Pulp Fiction           8.3       8.207102        8428
65             The Dark Knight           8.2       8.136930       12002
1818          Schindler's List           8.3       8.126069        4329
3865                  Whiplash           8.3       8.123248        4254
809               Forrest Gump           8.2       8.105954        7927
2294             Spirited Away           8.3       8.105867        3840
2731    The Godfather: Part II           8.3       8.079586        3338

In [79]:
# 장르 유사성이 높은 후보군 TOP-N의 2배수 만큼 선정 후, weighted_vote 칼럼이 높은 순으로 추출하는 방식으로 find_sim_movie() 함수 변경.
def find_sim_movie(df, sorted_ind, title_name, top_n=10):
    # 인자로 입력된 movies_df DataFrame에서 'title' 칼럼이 입력된 title_name 값인 DataFrame 추출
    title_movie = df[df['title'] == title_name]
    title_index = title_movie.index.values
    
    # top_n의 2배에 해당하는 장르 유사성이 높은 인덱스 추출
    similar_indexes = sorted_ind[title_index, :(top_n*2)]
    similar_indexes = similar_indexes.reshape(-1)
    # 기준 영화 인덱스는 제외
    similar_indexes = similar_indexes[similar_indexes != title_index]
    
    # top_n의 2배에 해당하는 후보군에서 weighted_vote가 높은 순으로 top_n만큼 추출
    return df.iloc[similar_indexes].sort_values('weighted_vote', ascending=False)[:top_n]

similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)
similar_movies[['title', 'vote_average', 'weighted_vote']]

                            title  vote_average  weighted_vote
2731       The Godfather: Part II           8.3       8.079586
1847                   GoodFellas           8.2       7.976937
3866                  City of God           8.1       7.759693
1663  Once Upon a Time in America           8.2       7.657811
883           Catch Me If You Can           7.7       7.557097
281             American Gangster           7.4       7.141396
4041              This Is England           7.4       6.739664
1149              American Hustle           6.8       6.717525
1243                 Mean Streets           7.2       6.626569
2839                     Rounders           6.9       6.530427

## 아이템 기반 최근접 이웃 협업 필터링 실습  
데이터 : https://grouplens.org/datasets/movielens/latest/  

### 데이터 가공 및 변환

In [80]:
import pandas as pd
import numpy as np

movies = pd.read_csv('./data/ml-latest-small/movies.csv')
ratings = pd.read_csv('./data/ml-latest-small/ratings.csv')
print(movies.shape)
print(ratings.shape)

(9742, 3)
(100836, 4)

In [81]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [82]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

**ratings 칼럼 소개**  
    1. userId : 사용자 아이디  
    2. moviedId : 영화(item) 아이디  
    3. rating : 영화 평점. 평점은 최소 0.5에서 최대 5점. 0.5 단위로 평점이 부여됨.

In [85]:
# ratings 데이터프레임을 이용해 사용자-영화 평점 데이터로 변환(pivot table 이용)
ratings = ratings[['userId', 'movieId', 'rating']]
ratings_matrix = ratings.pivot_table('rating', index='userId', columns='movieId')
ratings_matrix.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
# movieId는 숫자로 되어 있어 어떤 영화인지 알기가 어려움. 따라서 movies의 title 칼럼을 얻기 위해 movies와 조인
ratings_movies = pd.merge(ratings, movies, on='movieId')

# columns='title'로 title 칼럼으로 피벗 수행.
ratings_matrix = ratings_movies.pivot_table('rating', index='userId', columns='title')

# NaN값을 모두 0으로 변환
ratings_matrix = ratings_matrix.fillna(0)
ratings_matrix.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 영화 간 유사도 산출  
1. 코사인 유사도를 이용해 사용자-영화 평점 행렬 데이터 세트(ratings_matrix)의 영화 간의 유사도 측정.  
2. 코사인 유사도는 행을 기준으로 유사도를 측정함. 하지만 ratings_matrix는 행이 userId 이므로 우리가 구하려는 아이템 간(영화 간)의 유사도가 아닌 사용자 간의 유사도가 구해짐.  
3. 따라서 데이터 셋을 전치 행렬 변경을 해 주어야 함.(pd.transpose() 이용)

In [90]:
ratings_matrix_T = ratings_matrix.transpose()
ratings_matrix_T.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Salem's Lot (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Til There Was You (1997),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [91]:
# ratings_matrix_T 데이터셋을 기반으로 코사인 유사도 측정
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(ratings_matrix_T, ratings_matrix_T)

# cosine_similarity()로 반환된 넘파이 행렬을 영화명을 매핑해 DataFrame으로 변환
item_sim_df = pd.DataFrame(data=item_sim, index=ratings_matrix.columns, columns=ratings_matrix.columns)

print(item_sim_df.shape)
item_sim_df.head()

(9719, 9719)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),1.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.141653,0.0,...,0.0,0.342055,0.543305,0.707107,0.0,0.0,0.139431,0.327327,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,1.000000,0.707107,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
'Round Midnight (1986),0.0,0.707107,1.000000,0.000000,0.000000,0.0,0.176777,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
'Salem's Lot (2004),0.0,0.000000,0.000000,1.000000,0.857493,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
'Til There Was You (1997),0.0,0.000000,0.000000,0.857493,1.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0

In [93]:
# item_sim_df를 이용해 영화 대부와 유사도가 높은 영화 6개를 추출
item_sim_df['Godfather, The (1972)'].sort_values(ascending=False)[:6]

title
Godfather, The (1972)                        1.000000
Godfather: Part II, The (1974)               0.821773
Goodfellas (1990)                            0.664841
One Flew Over the Cuckoo's Nest (1975)       0.620536
Star Wars: Episode IV - A New Hope (1977)    0.595317
Fargo (1996)                                 0.588614
Name: Godfather, The (1972), dtype: float64

In [95]:
# 영화 인셉션과 유사한 영화 상위 6개 추출(자기 자신 제외)
item_sim_df["Inception (2010)"].sort_values(ascending=False)[1:6]

title
Dark Knight, The (2008)          0.727263
Inglourious Basterds (2009)      0.646103
Shutter Island (2010)            0.617736
Dark Knight Rises, The (2012)    0.617504
Fight Club (1999)                0.615417
Name: Inception (2010), dtype: float64

### 아이템 기반 최근접 이웃 협업 필터링으로 개인화된 영화 추천  
[영화 유사도 데이터를 이용해 최근접 이웃 협업 필터링으로 개인에게 최적화된 영화 추천 구현하기]  
1. **개인이 아직 관람하지 않은 영화를 추천**  
2. 아이템 유사도와 기존에 관람한 영화의 평점 데이터를 기반으로 -> 새롭게 모든 영화의 예측 평점을 계산한 후 -> 높은 예측 평점을 가진 영화를 추천.  
<img src='https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FpdN4n%2FbtqAE6D6caT%2F0KPRvdlJdUMBVKQxuuwbB0%2Fimg.png'>  

                                            개인화된 예측 평점을 구하는 식  
                                         
            * R^ : 사용자 x, 아이템 j의 개인화된 예측 평점 값.  
            * S : 아이템 j와 가장 유사도가 높은 Top-N개 아이템의 유사도 벡터.  
            * R : 사용자 x의 아이템 j와 가장 유사도가 높은 Top-N개 아이템에 대한 실제 평점 벡터.

In [101]:
# 예측 평점을 계산하는 predict_rating() 함수 생성.
# 사용자-영화 평점 넘파이 행렬과 영화 간의 유사도를 가지는 넘파이 행렬을 입력 받음.
def predict_rating(ratings_arr, item_sim_arr):
    ratings_pred = ratings_arr.dot(item_sim_arr) / np.array([np.abs(item_sim_arr).sum(axis=1)])
    return ratings_pred

In [102]:
# predict_rating() 함수를 이용해 개인화된 예측 평점 구하기
ratings_pred = predict_rating(ratings_matrix.values, item_sim_df.values)
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index=ratings_matrix.index, columns=ratings_matrix.columns)
ratings_pred_matrix.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.070345,0.577855,0.321696,0.227055,0.206958,0.194615,0.249883,0.102542,0.157084,0.178197,...,0.113608,0.181738,0.133962,0.128574,0.006179,0.212070,0.192921,0.136024,0.292955,0.720347
2,0.018260,0.042744,0.018861,0.000000,0.000000,0.035995,0.013413,0.002314,0.032213,0.014863,...,0.015640,0.020855,0.020119,0.015745,0.049983,0.014876,0.021616,0.024528,0.017563,0.000000
3,0.011884,0.030279,0.064437,0.003762,0.003749,0.002722,0.014625,0.002085,0.005666,0.006272,...,0.006923,0.011665,0.011800,0.012225,0.000000,0.008194,0.007017,0.009229,0.010420,0.084501
4,0.049145,0.277628,0.160448,0.206892,0.309632,0.042337,0.130048,0.116442,0.099785,0.097432,...,0.051269,0.076051,0.055563,0.054137,0.008343,0.159242,0.100941,0.062253,0.146054,0.231187
5,0.007278,0.066951,0.041879,0.013880,0.024842,0.018240,0.026405,0.018673,0.021591,0.018841,...,0.009689,0.022246,0.013360,0.012378,0.000000,0.025839,0.023712,0.018012,0.028133,0.052315

In [114]:
# MSE 방식으로 기존에 평점이 부여된 데이터에 대한 오차 측정하기
from sklearn.metrics import mean_squared_error

# 사용자가 평점을 부여한 영화에 대해서만 예측 성능 평가 MSE를 구함.
def get_mse(pred, actual):
    # 평점이 있는 실제 영화만 추출
    pred = pred[actual.nonzero()]
    actual = actual[actual.nonzero()]
    return mean_squared_error(pred, actual)

print("아이템 기반 모든 최근접 이웃 MSE : ", get_mse(ratings_pred, ratings_matrix.values))

아이템 기반 모든 최근접 이웃 MSE :  9.895354759094706

In [123]:
# 특정 영화와 가장 비슷한 유사도를 가지는 영화에 대해서만 유사도 벡터를 적용하는 함수인 predict_rating_topsim() 함수 생성.
def predict_rating_topsim(ratings_arr, item_sim_arr, n=20):
    # 사용자-아이템 평점 행렬 크기만큼 0으로 채운 예측 행렬 초기화
    pred = np.zeros(ratings_arr.shape)
    
    # 사용자-아이템 평점 행렬의 열 크기만큼 루프 수행.
    for col in range(ratings_arr.shape[1]):
        # 유사도 행렬에서 유사도가 큰 순으로 n개 데이터 행렬의 인덱스 반환
        top_n_items = [np.argsort(item_sim_arr[:, col])[:-n-1:-1]]
        # 개인화된 예측 평점을 계산
        for row in range(ratings_arr.shape[0]):
            pred[row, col] = item_sim_arr[col, :][top_n_items].dot(ratings_arr[row, :][top_n_items].T)
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items]))
            
    return pred

In [125]:
# predict_rating_topsim() 함수를 사용하여 예측 평점을 계산하고 실제 평점과의 MSE 구해보기
ratings_pred = predict_rating_topsim(ratings_matrix.values, item_sim_df.values, n=20)
print("아이템 기반 최근접 TOP-20 이웃 MSE : ", get_mse(ratings_pred, ratings_matrix.values))

# 계산된 예측 평점 데이터는 DataFrame으로 재생성
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index=ratings_matrix.index, columns=ratings_matrix.columns)

아이템 기반 최근접 TOP-20 이웃 MSE :  3.69501623729494

In [126]:
# userId=9인 사용자에 대해 영화 추천하기
# userId=9인 사용자가 좋아하는 영화 확인하기
user_rating_id = ratings_matrix.loc[9, :]
user_rating_id[user_rating_id > 0].sort_values(ascending=False)[:10]

title
Adaptation (2002)                                                                 5.0
Austin Powers in Goldmember (2002)                                                5.0
Lord of the Rings: The Fellowship of the Ring, The (2001)                         5.0
Lord of the Rings: The Two Towers, The (2002)                                     5.0
Producers, The (1968)                                                             5.0
Citizen Kane (1941)                                                               5.0
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    5.0
Back to the Future (1985)                                                         5.0
Glengarry Glen Ross (1992)                                                        4.0
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)                                     4.0
Name: 9, dtype: float64

In [129]:
# 사용자가 이미 평점을 준 영화를 제외하고 추천할 수 있도록 평점을 주지 않은 영화를 리스트 객체로 반환하는 get_unseen_movies() 함수 생성
def get_unseen_movies(ratings_matrix, userId):
    # userId로 입력받은 사용자의 모든 영화 정보를 추출해 Series로 반환함.
    # 반환된 user_ratings은 영화명(title)을 인덱스로 가지는 Series 객체임.
    user_rating = ratings_matrix.loc[userId, :]
    
    # user_rating이 0보다 크면 기존에 관람한 영화임. 대상 인덱스를 추출해 list 객체로 만듦.
    already_seen = user_rating[user_rating > 0].index.tolist()
    
    # 모든 영화명을 list 객체로 만듦.
    movies_list = ratings_matrix.columns.tolist()
    
    # list comprehension으로 already_seen에 해당하는 영화는 movies_list에서 제외함.
    unseen_list = [movie for movie in movies_list if movie not in already_seen]
    
    return unseen_list

In [130]:
# 최종적으로 사용자에게 영화를 추천하는 함수인 recomm_movie_by_userid() 생성
def recomm_movie_by_userid(pred_df, userId, unseen_list, top_n=10):
    # 예측 평점 DataFrame에서 사용자id 인덱스와 unseen_list로 들어온 영화명 칼럼을 추출해 가장 예측 평점이 높은 순으로 정렬함.
    recomm_movies = pred_df.loc[userId, unseen_list].sort_values(ascending=False)[:top_n]
    return recomm_movies

# 사용자가 관람하지 않은 영화 추출
unseen_list = get_unseen_movies(ratings_matrix, 9)

# 아이템 기반의 최근접 이웃 협업 필터링으로 영화 추천
recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, 9, unseen_list, top_n=10)

# 평점 데이터를 DataFrame으로 생성
recomm_movies = pd.DataFrame(data=recomm_movies.values, index=recomm_movies.index, columns=['pred_score'])

recomm_movies

                                                                                                pred_score
title
Shrek (2001)                                                                                      0.866202
Spider-Man (2002)                                                                                 0.857854
Last Samurai, The (2003)                                                                          0.817473
Indiana Jones and the Temple of Doom (1984)                                                       0.816626
Matrix Reloaded, The (2003)                                                                       0.800990
Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)    0.765159
Gladiator (2000)                                                                                  0.740956
Matrix, The (1999)                                                                                0.732693
Pirates of the Caribbean: The Curse of the Black Pearl (2003)                                     0.689591
Lord of the Rings: The Return of the King, The (2003)                                             0.676711

## 행렬 분해를 이용한 잠재 요인 협업 필터링 실습  
SGD 기반의 행렬 분해를 구현하고 이를 기반으로 사용자에게 영화 추천.

In [131]:
from sklearn.metrics import mean_squared_error

def get_rmse(R, P, Q, non_zeros):
    error = 0
    # 두 개의 분해된 행렬 P와 Q.T의 내적으로 예측 R 행렬 생성
    full_pred_matrix = np.dot(P, Q.T)
    
    # 실제 R 행렬에서 널이 아닌 값의 위치 인덱스를 추출해 실제 R 행렬과 예측 행렬의 RMSE 추출
    x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]
    y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind, y_non_zero_ind]
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros)
    rmse = np.sqrt(mse)
    
    return mse

In [132]:
# 행렬 분해 로직을 구현한 matrix_factorization() 함수 생성
def matrix_factorization(R, K, steps=200, learning_rate=0.01, r_lambda=0.1):
    num_users, num_items = R.shape
    # P와 Q 매트릭스의 크기를 지정하고 정규 분포를 가진 랜덤한 값으로 입력합니다.
    np.random.seed(1)
    P = np.random.normal(scale=1./K, size=(num_users, K))
    Q = np.random.normal(scale=1./K, size=(num_items, K))
    
    prev_rmse = 10000
    break_count = 0
    
    # R > 0인 행 위치, 열 위치, 값을 non_zeros 리스트 객체에 저장.
    non_zeros = [ (i, j, R[i, j]) for i in range(num_users) for j in range(num_items) if R[i, j] > 0 ]
    
    # SGD 기법으로 P와 Q 매트릭스를 계속 업데이트.
    for step in range(steps):
        for i, j, r in non_zeros:
            # 실제값과 예측값의 차이인 오류값 구함.
            eij = r - np.dot(P[i, :], Q[j, :].T)
            # Regularization을 반영한 SGD 업데이트 공식 적용
            P[i, :] = P[i, :] + learning_rate * (eij*Q[j, :] - r_lambda*P[i, :])
            Q[j, :] = Q[j, :] + learning_rate * (eij*P[i, :] - r_lambda*Q[j, :])
            
        rmse = get_rmse(R, P, Q, non_zeros)
        if (step%10 == 0):
            print("### iteration step : ", step, " rmse : ", rmse)
            
    return P, Q

In [134]:
# 영화 평점 행렬 데이터를 새롭게 로딩한 후 다시 사용자-아이템 평점 행렬로 만듦.
import pandas as pd
import numpy as np

movies = pd.read_csv('./data/ml-latest-small/movies.csv')
ratings = pd.read_csv('./data/ml-latest-small/ratings.csv')
ratings = ratings[['userId', 'movieId', 'rating']]
ratings_matrix = ratings.pivot_table('rating', index='userId', columns='movieId')

# title 컬럼을 얻기 위해 movies와 조인 수행
rating_movies = pd.merge(ratings, movies, on='movieId')
# columns='title'로 title 칼럼으로 pivot 수행
ratings_matrix = rating_movies.pivot_table('rating', index='userId', columns='title')

In [135]:
# ratings_matrix를 matrix_factorization() 함수를 이용해 행렬 분해.
P, Q = matrix_factorization(ratings_matrix.values, K=50, steps=200, learning_rate=0.01, r_lambda=0.01)
pred_matrix = np.dot(P, Q.T)

### iteration step :  0  rmse :  8.423705034701914
### iteration step :  10  rmse :  0.5381350082096514
### iteration step :  20  rmse :  0.2616873953526066
### iteration step :  30  rmse :  0.13884289422659946
### iteration step :  40  rmse :  0.08766445000765151
### iteration step :  50  rmse :  0.06352180214146706
### iteration step :  60  rmse :  0.05056878035552724
### iteration step :  70  rmse :  0.04278880610647559
### iteration step :  80  rmse :  0.0376880828845251
### iteration step :  90  rmse :  0.03411439291872161
### iteration step :  100  rmse :  0.031481147723579454
### iteration step :  110  rmse :  0.0294645016749921
### iteration step :  120  rmse :  0.027872910023915145
### iteration step :  130  rmse :  0.026586255346641597
### iteration step :  140  rmse :  0.02552546850158906
### iteration step :  150  rmse :  0.02463640078871332
### iteration step :  160  rmse :  0.02388075155171797
### iteration step :  170  rmse :  0.02323069360565541
### iteration step :  180  rmse :  0.02266554560767272
### iteration step :  190  rmse :  0.022169634407598438

In [137]:
# pred_matrix를 영화 타이틀을 칼럼으로 가지는 DataFrame으로 변경
ratings_pred_matrix = pd.DataFrame(data=pred_matrix, index=ratings_matrix.index, columns=ratings_matrix.columns)
ratings_pred_matrix.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,3.055084,4.092018,3.564130,4.502167,3.981215,1.271694,3.603274,2.333266,5.091749,3.972454,...,1.402608,4.208382,3.705957,2.720514,2.787331,3.475076,3.253458,2.161087,4.010495,0.859474
2,3.170119,3.657992,3.308707,4.166521,4.311890,1.275469,4.237972,1.900366,3.392859,3.647421,...,0.973811,3.528264,3.361532,2.672535,2.404456,4.232789,2.911602,1.634576,4.135735,0.725684
3,2.307073,1.658853,1.443538,2.208859,2.229486,0.780760,1.997043,0.924908,2.970700,2.551446,...,0.520354,1.709494,2.281596,1.782833,1.635173,1.323276,2.887580,1.042618,2.293890,0.396941
4,2.628629,3.035550,2.575746,3.706912,3.430636,0.706441,3.330280,1.978826,4.560368,2.775710,...,1.046116,2.912178,2.479592,2.231915,1.888629,2.211364,0.645603,1.585734,3.542892,0.591540
5,2.116148,3.084761,2.747679,3.783490,3.946990,0.883259,1.958953,1.757317,2.054312,2.775258,...,0.956159,3.893975,2.717024,2.002443,2.053337,3.983639,2.099626,1.423718,2.490428,0.531403

In [138]:
# userId=9인 사용자의 영화 추천을 잠재 요인 협업 필터링으로 추천해봄
# 사용자가 관람하지 않은 영화명 추출
unseen_list = get_unseen_movies(ratings_matrix, 9)

# 잠재 요인 협업 필터링으로 영화 추천
recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, 9, unseen_list, top_n=10)

# 평점 데이터를 DataFrame으로 생성.
recomm_movies = pd.DataFrame(data=recomm_movies.values, index=recomm_movies.index, columns=['pred_score'])
recomm_movies

                                                       pred_score
title
Rear Window (1954)                                       5.704612
South Park: Bigger, Longer and Uncut (1999)              5.451100
Rounders (1998)                                          5.298393
Blade Runner (1982)                                      5.244951
Roger & Me (1989)                                        5.191962
Gattaca (1997)                                           5.183179
Ben-Hur (1959)                                           5.130463
Rosencrantz and Guildenstern Are Dead (1990)             5.087375
Big Lebowski, The (1998)                                 5.038690
Star Wars: Episode V - The Empire Strikes Back (1980)    4.989601

## 파이썬 추천 시스템 패키지 - Surprise  
### Surprise 패키지 소개  
1. Surprise : 파이썬 기반의 추천 시스템 구축을 위한 전용 패키지 중 하나.  
2. Surprise 패키지의 장점.  
    1) 다양한 추천 알고리즘.  
    2. Surprise의 핵심 API는 사이킷런의 핵심 API와 유사한 API명으로 작성됨. fit(), predict(), train_test_split(), cross_validate() 등을 사이킷런과 마찬가지로 제공함.